[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
scipy = "*"
statsmodels = "*"
tqdm = "*"
association-metrics = "*"
plotly-express = "*"
plotly = "*"
scikit-learn = "*"
scikit-posthocs = "*"
pingouin = "*"
category-encoders = "*"
xgboost = "*"
catboost = "*"
mlflow = "*"
shap = "*"
imblearn = "*"
sinfo = "*"
flask = "*"
yellowbrick = "*"
nbformat = "*"
seaborn = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.11"
